/* Theme Variables */
:root {
    --text: "Select Players...";
    --bg-primary: #000000;
    --bg-secondary: #1d1d1d;
    --text-primary: #e0e0e0;
    --text-accent: rgb(55, 82, 255);
    --button-primary: blue;
    --border-accent: #2d2d2d;
    --bs-border-color: #0d0064;
}

body.light-theme {
    --bg-primary: #0d0064;
    --bg-secondary: #140099;
    --text-primary: #ffffff;
    --text-accent: #61e7ff;
    --button-primary: #0004fd;
    --border-accent: #1d00db;
    --bs-border-color: #1d00db;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-accent);
    text-align: center;
    margin-top: 15px;
}

table {
    margin: 7px auto auto;
    width: fit-content;
}

th {
    background-color: var(--bg-primary);
    padding: 3px;
    text-align: center;
    white-space: nowrap;
}

td {
    padding: 3px;
    white-space: nowrap;
    width: 30%;
}

tr:nth-child(odd) {
    background-color: var(--bg-secondary);
}

canvas {
    display: block; /* Prevent inline-block spacing issues */
    padding: 0;
}

.container-fluid {
    position: relative; 
    width: 100%; 
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 15px;
}

.btn-outline-primary {
    border-color: blue;
    margin-top: 15px;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    background-color: darkblue;
}

.btn-secondary {
    background-color: var(--bg-primary);
    margin-top: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.input-group-text {
    background-color: var(--bg-secondary);
    color: gray;
    margin-top: 15px;
    flex: 0 0 auto;
}

.form-control {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    margin-top: 15px;
    flex: 1 1 auto;
    flex-shrink: 1; /* Allow the input to shrink */
    min-width: 0; /* Ensure it can shrink to 0 */
}

.form-check-label {
    color: gray;
}

.form-select {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    margin-top: 15px;
    flex: 0 0 auto;
    white-space: nowrap; /* Prevent the select from shrinking */
}

hr.rounded {
    border-top: 8px solid var(--button-primary);
    border-radius: 5px;
    background-color: transparent;
}

.centered {
    text-align: center;
}